
   
    
   

    .modal-box{ font-family: 'Raleway', sans-serif; }
    .modal-box .show-modal{
        color: #fff;
        background: linear-gradient(45deg, #26de81, #26de81);
        font-size: 18px;
        font-weight: 600;
        text-transform: capitalize;
        padding: 10px 15px;
        margin: 80px auto 0;
        border: none;
        outline: none;
        border-radius: 50px 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: block;
        transition: all 0.9s ease 8s;
    }
    .modal-box .show-modal:hover,
    .modal-box .show-modal:focus{
        color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        outline: none;
    }
    .modal-backdrop.in{ opacity: 0; }
    .modal-box .modal-dialog{
        width: 400px;
        margin: 70px auto 0;
    }
    .modal.fade .modal-dialog{ transform: scale(0.5); }
    .modal.in .modal-dialog{ transform: scale(1); }
    .modal-box .modal-dialog .modal-content{
        color: #26de81;
        text-align: center;
        border: none;
        /* border-radius: 50px; */
        box-shadow: 0 5px 15px 5px rgba(122,214,92,0.3);
        width: 461px;
    height: 438px;
}
    
    .modal-box .modal-dialog .modal-content .close{
        color:#26de81;
        font-size: 35px;
        font-weight: 600;
        text-shadow: none;
        line-height: 12px;
        height: 30px;
        /* width: 30px; */
        overflow: hidden;
        opacity: 1;
        position: absolute;
        left: auto;
        right: 33px;
    top: 15px;
        z-index: 1;
        transition: all 0.3s ease 0s;
    }
    .modal-box .modal-dialog .modal-content .close:hover{ color: #999; }
    .modal-box .modal-dialog .modal-content .close:focus{ outline: none; }
    .modal-box .modal-dialog .modal-content .modal-body{ padding: 40px 15px 30px !important; }
    .modal-box .modal-dialog .modal-content .modal-body .icon{
        color: rgb(255, 255, 255);
        background: linear-gradient( 
    45deg, rgb(38, 222, 129), rgb(38, 222, 129));
        font-size: 46px;
        /* line-height: 170px; */
        width: 73px;
        height: 68px;
        margin: 127px auto 46px;
        box-shadow: rgb(255 255 255) 0px 0px 0px 7px, rgb(65 224 126 / 40%) 0px 0px 0px 15px, rgb(255 255 255) 0px 0px 0px 22px, rgb(65 224 126 / 15%) 0px 0px 0px 25px;
        border-radius: 78%;
        margin-top: -67px;
    }

img{
    width: 217px;
    height: 192px;
    margin-top: -11px;
}
    
    .modal-box .modal-dialog .modal-content .modal-body .title{
        font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 15px;
    margin-top: -1px;

    }
    .modal-box .modal-dialog .modal-content .modal-body .description{
        font-size: 15px;
    letter-spacing: 1px;
    margin: 0 auto 25px;
    margin-top: 10px;
    }
    .modal-box .modal-dialog .modal-content .modal-body .btn{
        color: #fff;
        background: linear-gradient( 
    45deg, #26de81, #26de81);
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 35%;
    height: 44px;
    margin-top: -7px;
        padding: 10px 7px;
        border: none;
        margin-left: 44px;
        /* border-radius: 50px; */
        transition: all 0.3s ease 0s;
}
.btns{
    display: flex;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn a:hover{
    text-decoration: none;
    color: white;
}
    .modal-box .modal-dialog .modal-content .modal-body .btn:hover{
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
        box-shadow: 5px 5px rgba(0,0,0,0.1),-5px -5px rgba(0,0,0,0.1);
    }
    .modal-box .modal-dialog .modal-content .modal-body .btn:focus{ outline: none; }
    @media only screen and (max-width: 480px){
        .modal-dialog{ width: 95% !important; }
    }
    